<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="navbar-header"><h1>Arad's Backgammon Game</h1></div>
			</div>
			<div class="col-lg-7">
			
			
						
						<form id="loginForm" class="navbar-form navbar-right" method="POST" action="/backgammon-game-web/register">
			
							<div class="form-group">
								<label for="userNameLogin">User Name:</label>
								<br/>
								<input type="text" class="form-control" name="userNameLogin" placeholder="User Name">
							</div>
			
							<span>&nbsp;&nbsp;&nbsp;</span>
			
							<div class="form-group">
								<label for="password">Password:</label>
								<br/>
								<input type="password" class="form-control" name="passwordLogin" placeholder="Password">
							</div>
			
							<span>&nbsp;&nbsp;&nbsp;</span>
			
							<div class="form-group">
								<br/>
								<button type="submit" class="btn btn-primary">Log In</button>
							</div>
						</form>	
			</div>
		</div>
	</div>
</nav>