<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
  <Appenders>
    <Console name="Backgammon_OUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %red{%-5level %logger{36} [line - %L]} - %blue{%msg}%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="org.moshe.arad" level="info" additivity="false">
  		<AppenderRef ref="Backgammon_OUT"/>
  	</Logger>
    <Root level="off">
      <AppenderRef ref="Backgammon_OUT"/>
    </Root> 
  </Loggers>
</Configuration>